<div class="container">
	<h1>Cadastrar Frequência</h1>
	<hr />
	<form #frequenciaForm="ngForm" (submit)="salvar(frequenciaForm)">
		<div class="form-group">
			<label for="turm">Turmas<span class="required">*</span></label>

			<select
				[(ngModel)]="turma"
				id="turm"
				name="turm"
				class="form-control col-5"
				#turmaSelect="ngModel"
				required
				(change)="atualizaAlunos()"
				[class.is-invalid]="turmaSelect.errors && (turmaSelect.dirty || turmaSelect.touched)"
			>
				<option *ngFor="let t of turmas" [value]="t.numero">{{ t.nome }}</option>
			</select>
			<span class="text-danger" *ngIf="turmaSelect?.errors?.required && turmaSelect.touched"
				>É preciso selecionar uma turma!
			</span>
		</div>

		<div class="form-group">
			<label for="alun">Alunos<span class="required">*</span></label>
			<select
				[(ngModel)]="aluno"
				id="alun"
				name="alun"
				class="form-control col-5"
				#alunoSelect="ngModel"
				required
				[class.is-invalid]="alunoSelect.errors && (alunoSelect.dirty || alunoSelect.touched)"
			>
				<option *ngFor="let a of alunos" [value]="a.codigo"> {{ a.nome }} </option>
			</select>
			<span
				class="text-danger"
				*ngIf="
					!turmaSelect.errors && alunoSelect?.errors?.required && (alunoSelect.dirty || alunoSelect.touched)
				"
				>É preciso selecionar um aluno!
			</span>
			<span class="text-danger" *ngIf="turmaSelect.errors && alunoSelect.touched"
				>Selecione uma turma primeiro!
			</span>
		</div>
		<div class="form-group row">
			<div class="form-group ml-3">
				<label for="nt1">Nota 1<span class="required">*</span></label>
				<input
					#nota1Input="ngModel"
					[(ngModel)]="nota1"
					id="nt1"
					name="nt1"
					type="number"
					required
					class="form-control col-5"
					[class.is-invalid]="nota1Input.invalid && (nota1Input.dirty || nota1Input.touched)"
				/>
				<span class="text-danger" *ngIf="nota1Input?.errors && (nota1Input.dirty || nota1Input.touched)"
					>Informe a nota 1!
				</span>
			</div>
			<div class="form-group">
				<label for="nt1">Nota 2<span class="required">*</span></label>
				<input
					#nota2Input="ngModel"
					[(ngModel)]="nota2"
					id="nt2"
					name="nt2"
					type="number"
					class="form-control col-5"
					required
					[class.is-invalid]="nota2Input.invalid && (nota2Input.dirty || nota2Input.touched)"
				/>
				<span
					class="text-danger"
					*ngIf="nota2Input?.errors?.required && (nota2Input.dirty || nota2Input.touched)"
					>Informe a nota 2!
				</span>
			</div>
			<div class="form-group">
				<label for="freq">Frequência<span class="required">*</span></label>
				<input
					#frequenciaInput="ngModel"
					[(ngModel)]="frequencia"
					id="freq"
					name="freq"
					type="number"
					class="form-control col-5"
					required
					[class.is-invalid]="frequenciaInput.invalid && (frequenciaInput.dirty || frequenciaInput.touched)"
				/>
				<span
					class="text-danger"
					*ngIf="frequenciaInput?.errors?.required && (frequenciaInput.dirty || frequenciaInput.touched)"
					>Informe a frequência!
				</span>
			</div>
		</div>

		<button [disabled]="frequenciaForm.invalid" class="btn btn-primary mr-3">
			Salvar
		</button>
	</form>
	<hr />
	<h1>Registros</h1>
	<br />
	<table class="table table-hover table-stripped table-bordered">
		<thead>
			<tr>
				<th>Turma</th>
				<th>Aluno</th>
				<th>Frequência</th>
				<th>Nota 1</th>
				<th>Nota 2</th>
				<th>Média</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let registro of registros">
				<td>{{ encontrarTurma(registro.numeroTurma) }}</td>
				<td>{{ encontrarAluno(registro.codigoAluno) }}</td>
				<td>{{ registro.frequencia }}</td>
				<td>{{ registro.nota1 }}</td>
				<td>{{ registro.nota2 }}</td>
				<td>{{ calcularMedia(registro.nota1, registro.nota2) }}</td>
			</tr>
		</tbody>
	</table>
	<hr />
	<h1>Informações sumarizadas</h1>
	<br />
	<li>
		Frequência média - <b>{{ calcularFrequenciaMedia() }}</b>
	</li>
	<li>
		Média de nota 1 - <b>{{ calcularNota1Media() }}</b>
	</li>
	<li>
		Média de nota 2 - <b>{{ calcularNota2Media() }}</b>
	</li>
	<hr />
</div>
